# Jekyll & Bundler
_site/
.jekyll-cache/
.jekyll-metadata
vendor/

# Node.js
node_modules/
custom-cms/node_modules/
npm-debug.log*

# Environment files (IMPORTANT)
.env

# Log files
*.log

# macOS files
.DS_Store

# Other
_admin.zip
report.txt
